<div class="fdx-u-align--center">
    <form [formGroup]="loginForm" #myForm="ngForm">
        <!-- Enter Credential title -->
        <div class="fdx-u-mt--7 fdx-u-mb--7">
            <h1 id="title" class="fdx-c-header fdx-c-header--h2 fdx-c-header--h3@small-only fdx-o-grid__item--8@small-only fdx-u-ml--12@small-only">{{ 'loginCredentials.credentialsHeader' | translate }}
            </h1>
        </div>

        <!-- Create user ID subtitle -->
        <div class="fdx-u-mb--7">
            <p class="fdx-u-font-size--h7 fdx-u-text--light" aria-atomic="true" aria-live="assertive"
                id="userIDSubTitle">
                {{ 'loginCredentials.userIDSubTitle' | translate }}
                <a id="createOne" href="#" class="fdx-c-link"
                    (click)="navigateToCreateAccount()">{{ 'loginCredentials.createOne' | translate }}</a>
            </p>
        </div>

        <!-- user ID textbox -->
        <div class="fdx-c-form-group fdx-c-form-group--float-label fdx-u-mb--1 fdx-u-mr--3@small fdx-u-ml--3@small fdx-u-mr--9@large fdx-u-ml--9@large fdx-o-grid__item--10@medium"
            [class.fdx-c-form-group--has-value]="loginForm.controls['userId'].value"
            [class.fdx-c-form-group--is-invalid]="loginForm.controls['userId'].errors && loginForm.controls['userId'].touched">
            <div class="fdx-c-form-group__item fdx-o-grid__item--offset-1@medium">
                <input type="text" class="fdx-c-form-group__input" #userId formControlName="userId" id="userId" value=""
                    aria-describedby="userIdLabel" minlength="1" maxlength="35" required autocomplete="on">
                <label class="fdx-c-form-group__label fdx-c-form-group__label--dark fdx-o-grid__item--offset-1@medium"
                    for="userId" id="userIdLabel">{{'loginCredentials.userIDLabel' | translate }}</label>
            </div>
        </div>

        <!-- password textbox -->
        <div class="fdx-c-form-group fdx-c-form-group--float-label fdx-u-mb--1 fdx-u-mr--3@small fdx-u-ml--3@small fdx-u-mr--9@large fdx-u-ml--9@large fdx-o-grid__item--10@medium"
            [class.fdx-c-form-group--has-value]="loginForm.controls['password'].value"
            [class.fdx-c-form-group--is-invalid]="loginForm.controls['password'].errors && loginForm.controls['password'].touched">
            <div class="fdx-c-form-group__item fdx-o-grid__item--offset-1@medium">
                <input [type]="show ? 'text' : 'password'" class="fdx-c-form-group__input" #password formControlName="password"
                    id="password" value="" aria-describedby="passwordLabel" minlength="1" maxlength="35" required>
                <label class="fdx-c-form-group__label fdx-c-form-group__label--dark fdx-o-grid__item--offset-1@medium" for="password"
                    id="passwordLabel">{{'loginCredentials.passwordLabel' | translate }}</label>
               
                    <!-- hide and show button -->
                <a *ngIf="loginForm.controls['password'].value"
                    id="hideShow-btn" 
                    class="fdx-c-button fdx-c-button--eyebrow fdx-u-pr--5 fdx-u-pl--5"
                    aria-atomic="true" aria-live="assertive" (click)="hideShowPass()">
                    <span  *ngIf="show"> {{'loginCredentials.hideBtn' | translate }}</span>
                    <span *ngIf="!show"> {{'loginCredentials.showBtn' | translate }}</span>
                </a>
            </div>
        </div>


        <!--Required error -->
        <span *ngIf="loginForm.invalid">
            <div class="fdx-u-mb--1 fdx-u-align--left fdx-u-mb--1 fdx-u-mr--3@small fdx-u-ml--3@small fdx-u-mr--6@large fdx-u-ml--6@large">
                <div role="alert" id="numCharError" class="fdx-c-form-message fdx-c-form-message--error fdx-u-pb--0 fdx-o-grid__item--offset-1@medium"
                    *ngIf="(loginForm.controls['userId'].touched && loginForm.controls['userId'].errors?.required) || (loginForm.controls['password'].touched && loginForm.controls['password'].errors?.required)">
                    {{'loginCredentials.errorRequired' | translate }}
                </div>
            </div>
        </span>
        <!-- Invalid login credentials or account locked error -->
        <span *ngIf="userNotValid && loginForm.valid">
            <div class="fdx-u-mb--3 fdx-u-align--left fdx-u-mb--1 fdx-u-mr--3@small fdx-u-ml--3@small fdx-u-mr--6@large fdx-u-ml--6@large">
                <div role="alert" id="invalidCredentials" class="fdx-c-form-message fdx-c-form-message--error fdx-u-pb--0 fdx-o-grid__item--offset-1 fdx-o-grid__item--10">
                    {{'loginCredentials.errorIncorrect' | translate }}
                </div>
            </div>
        </span>

        <!-- Remember Me -->
        <div class="fdx-c-form-group fdx-c-form-group--checkbox">
            <input type="checkbox" name="format" id="checkBox" value="VALUE" aria-describedby="me-1"
                class="fdx-c-form-group__checkbox" aria-labelledby="checkBox" required
                (change)="rememberMeCheck($event)">
            <label class="fdx-c-form-group__label fdx-u-mt--5" for="checkBox" id="checkBoxLabel">
                {{ 'loginCredentials.rememberMeLabel' | translate }}</label>
        </div>

        <!-- Login button -->
        <div class="fdx-u-mb--3 fdx-u-mt--7 fdx-u-ml--3 fdx-u-mr--3">
            <button id="login-btn" type="submit"
                class="fdx-c-button fdx-c-button--full-width fdx-c-button--primary fdx-c-button--responsive"
                aria-atomic="true" aria-live="assertive" (click)="logInSubmit()">
                {{ 'loginCredentials.loginButton' | translate }}
            </button>
        </div>
    </form>
    <!-- Forgot credential link -->
    <div>
        <wlgn-forgot-userid></wlgn-forgot-userid>
    </div>
    <!-- Customer support link -->
    <div>
        <wlgn-customer-support [hideText]="false"></wlgn-customer-support>
    </div>

</div>