# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/coverage
**/version.ts

# dependencies
*.cache/
/bower_components
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
**/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
/cypress/screenshots
/cypress/videos
/cypress/results


# tmp
/tmp
/mock

# System Files
.DS_Store
Thumbs.db
