<fdx-caas-header></fdx-caas-header>
<fdx-common-core>
  <main>
    <div fdxMainContent>
      <div class="fdx-o-grid fdx-o-grid--max-width">
        <div class="fdx-o-grid__row fdx-o-grid__row--center">
          <div class="fdx-o-grid__item--8 fdx-o-grid__item--12@small-only">
            <wlgn-popup></wlgn-popup>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
</fdx-common-core>
<fdx-caas-cookie-consent></fdx-caas-cookie-consent>
<fdx-caas-footer></fdx-caas-footer>
